<div id="public-channel-create" v-cloak>

  <div class="container">

		<h1 class="text-center">Create your Public Channel here</h1>
	    <div class="login-form-container">
			<hr/>

			<ajax-form action="publicChannelCreate" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">

				<div class="form-group">
					<label for="channelName">Channel Name</label>
					<input type="text" class="form-control" id="channel-name" placeholder="Enter channel name" v-model='formData.channelName' focus-first>
				</div>

				<p class="text-danger" v-if="cloudError==='error1'"><small>error1.</small></p>
				<p class="text-danger" v-else-if="cloudError==='error2'"><small>error2.</small></p>
				
				<ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Create</ajax-button>
			</ajax-form>
		</div>
	</div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
