<div id="send-workspace-invitation" v-cloak>

  <div class="container">

		<h1 class="text-center">Send Invitation for your Workspace here</h1>
	    <div class="login-form-container">
			<hr/>

			<ajax-form action="sendWorkspaceInvitation" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" :handle-parsing="handleParsingForm">

				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email address" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
					<div class="invalid-feedback" v-if="formErrors.emailAddress">Please provide a valid email address.</div>
				</div>

				<p class="text-danger" v-if="cloudError==='error1'"><small>error1.</small></p>
				<p class="text-danger" v-else-if="cloudError==='error2'"><small>error2.</small></p>
				
				<ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Send Invitation</ajax-button>
			</ajax-form>
		</div>
	</div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
